@model CourseDto
@{
}
<h1>Add Course</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="text-muted" asp-for="ProfessorId"></label>
                <select class="form-control" asp-for="ProfessorId" asp-items="@(new SelectList(Model.Professors, "ProfessorId", "Name"))">
                    <option>-- Plz Select The Professor --</option>
                </select>
                <span asp-validation-for="ProfessorId" class="text-danger"></span>
            </div>
            <hr />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-outline-secondary">Back to List</a>

            </div>

        </form>
    </div>
</div>
@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
